#titles.state_1 {
    width: 83%;
}

#titles.state_2 {
    width: 66%;
}

#titles.state_3 {
    width: 49%;
}

#titles.state_4 {
    width: 32%;
}

#titles.state_5 {
    width: 15%;
}

#titles.state_6 {
    width: 15%;
}

#fixed_titles.state_4 {
    top: 19.5vh;
    height: 256px
}

#fixed_titles.state_5 {
    top: 10vh;
    height: 156px
}

#fixed_titles.state_6 {
    top: 0;
    height: 86px
}